body{
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  background-color: rgb(146, 140, 140);
   width: 600px;
   display: flex;
   justify-content: center;
}
.input{
  border-radius: 5px;
  width:300px;
  height: 30px;
}
.btn{
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  width:100px;
  height: 36px;
}
.heading{
  padding-left: 25%;
}
.newinput{
  border: 1px solid black;
  margin-left: 38px;
  border-radius: 5px;
  width:200px;
  height: 30px;
  background-color: beige;
}
.btn1{
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  width:100px;
  height: 36px;
}
.btnlast{
  margin-top: 15%;
  padding-left: 35%;
}
.btn2{
  position: absolute;
  margin-top: -2%;
  margin-left: 15%;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  width:100px;
  height: 36px;
}